<h1> Restaurants </h1>
<% @restaurants.each do |resto| %>
<ul>
<li style="list-style: none"> <%= link_to resto.name, restaurant_path(resto.id) %> <br>
  <%= resto.address %> <br>
  <%= resto.phone_number %> <br>
  <%= resto.category %> <br>
</li>
</ul>
<% end %>
<%= link_to 'Create new restaurant', new_restaurant_path  %>
