<h1><%= @restaurant.name %> </h1>
<p><%= @restaurant.address %> </p>
<o><%= @restaurant.phone_number %></p>
</p><%= @restaurant.category %> </p>

<%= link_to 'Write a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back to Restaurants', restaurants_path %>

<ul>
<% @restaurant.reviews.each do |review| %>
<li> <%= review.content %> - <%= review.rating %>
 </li>
<% end %>
</ul>
